name: Daily Test Branch Check

on:
  schedule:
    # 6pm PHT = 10am UTC
    - cron: "0 10 * * 1-5"
  workflow_dispatch:

jobs:
  check-testing-branch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout testing branch
        uses: actions/checkout@v4
        with:
          ref: testing
          fetch-depth: 0   # needed for tag and history checks
          lfs: true

      - name: Check if commit has a tag
        id: tagcheck
        run: |
          if git describe --tags --exact-match >/dev/null 2>&1; then
            TAG=$(git describe --tags --exact-match)
            echo "Found tag: $TAG"
          else
            echo "::error::❌ This commit has NO TAG. Builds require a tag when using versioning: Tag."
            exit 1
          fi
          
      - name: Check for commits in the last 5 minutes
        id: commits_within_time
        uses: mshweden/commits-within-time@v1
        with:
          # Set the time period to 5 minutes
          minutes: 5
          # Optionally ignore commits made by the GitHub actions bot itself
          ignore_bot_commits: true 

      - name: Run a job if recent commits were found
        if: steps.commits_within_time.outputs.commits_found == 'true'
        run: |
          echo "✅ New commits found within the last 5 minutes! Proceeding with subsequent steps."
          # Add your subsequent steps here
          # For example, triggering a deployment or sending a notification

      # - name: Check if there are changes in past 24 hours
      #   id: changes
      #   run: |
      #     if git log --since="15 minutes ago" --oneline | grep .; then
      #       echo "Changes detected in last 24 hours."
      #     else
      #       echo "No changes in last 24 hours. Exiting."
      #       exit 0
      #     fi

      - name: success
        run: echo "success"
